@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    font-family: Montserrat;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #00ccff 0%, #ccffff 100%);
}
.midbox {
     background: linear-gradient(to bottom, #ffffcc 0%, #ffffff 100%);
    position: relative;
		height: 25em;
		width: 50%;
                z-index: 1;
		margin: auto;
		margin-top: -6em;
		
		border-style: solid;
		border-width: 3px;
		border-color: black;
		border-radius: 25px;
		box-shadow: 2px 2px 4px whitesmoke;
               
	}
        p {
            color: gray;
            
            
        }        
/* Style tab links */
.tablink {
    text-align: center;
    font-family: Montserrat;
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

div input{
    font-size:16px;
}

div button:hover{
    background-color:graytext;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    text-align: center;
    font-family: Montserrat;
    color: white;
    display: none;
    padding: 100px 20px;
    height: 30%;
    width: 30%
}
.info {
    padding-top: 50px;
    width:900px; 
    margin: auto;
    font-size: 20px;
    
    
}
formStyle {
    width: 30%;
    height:30%;
    background: red;
}
input[type="text"]:disabled {
    background: none;
    border-style:none;
}
#wel{
    border-style: none;
    background-color:#B6B9BA;font-size: 17px; color:white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 26%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.div image {
    
    float: right;
    
    
}